<template>
    <div class="col-xs-12 col-sm-6">
        <p v-if="!server">Please select a Server</p>
        <p v-else>Server #{{ server.id }} selected, Status: {{ server.status }} </p>
        <hr>
        <p> Press the buttons to change the server status </p>
        <button v-for="status in statusTypes"
            @click="setStatus(status)">
            {{ status }}
            </button>
    </div>
</template>

<script>
    import { serverBus } from '../../main';

    export default {
        data: function(){
            return {
                server: null,
                statusTypes: [
                    'Normal', 'Critical', 'Unknown'
                ]
            };
        },
        methods: {
            setStatus(status){
                this.server.status = status;
            }
        },
        created(){
            serverBus.$on('serverSelected', (server) => {
                this.server = server;
            });
        }
    }
</script>

<style>
    button:hover {
        background-color: grey;
        color: white;
    }
</style>