<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <br>
                <br>
                <br>
                <button @click="selectedComponent = 'app-quote'">Quote</button>
                <button @click="selectedComponent = 'app-author'">Author</button>
                <button @click="selectedComponent = 'app-new'">New</button>
                <hr>
                <p> {{ selectedComponent }} </p>
                <hr>
               <!-- <app-quote>
                   <h1>Quote</h1>
                   <p>A wonderful quote!</p>
               </app-quote>-->

               <keep-alive>
                    <component :is="selectedComponent">
                        <p> Default Component</p>
                    </component>
               </keep-alive>
            </div>
        </div>
    </div>
</template>

<script>
    import Quote from './components/Quote.vue';
    import Author from './components/Author.vue';
    import New from './components/New.vue';

    export default {
        data: function(){
            return {
                selectedComponent: 'app-quote'
            };
        },
        components: {
            'app-quote': Quote,
            'app-author': Author,
            'app-new': New
        },

    }
</script>

<style>
</style>