<template>
    <div id="app">
        <svg :width="settings.width"  :height="settings.height">
            <line v-for="link in links()" :key="link.id" :x1="link.x1" :y1="link.y1" :x2="link.x2" :y2="link.y2" style="stroke:rgb(255,0,0);stroke-width:2" />
        </svg>
    </div>
</template>

<script>
import * as d3 from "d3"

export default {
    data(){
        return {
            settings: {
                width: 1000,
                height: 1000
            },
            treeData: {
                id: 0,
                name: 'Claudine',
                children: [
                    {
                        id: 1,
                        name: 'Zara',
                        children: [
                            {
                                id: 6,
                                name: 'Otene'
                            }
                        ]
                    },
                    {   
                        id: 2,
                        name: 'Cherese'
                    },
                    {
                        id: 3,
                        name: 'Daynah'
                    },
                    {
                        id: 4,
                        name: 'Pititi'
                    },
                    {
                        id: 5,
                        name: 'Damon'
                    }
                ]
            }
        }
    },
    computed: {
        tree(){
            return d3.tree().size([ 1000, 1000])
        },
        root(){
            return d3.hierarchy(this.treeData)
        },
        nodes(){
            
            return this.root.descendants().map(function(d){
                return {
                    id: 'node-' + d.data.id,
                    name: d.data.name,
                }
            })
        },
        links(){
            return this.root.links().map(function(d, i) {
                return {
                    id: 'link-' + d.source.data.id + '-' + d.target.data.id,
                    index: i,
                    x1: d.source.x,
                    x2: d.target.x,
                    y1: d.source.y,
                    y2: d.target.y
                }
            })
        }
    },
    mounted(){
        this.tree(this.root)
        // eslint-disable-next-line no-console
        console.log(this.root.descendants())
        // eslint-disable-next-line no-console
        //console.log(this.root.links())
        // eslint-disable-next-line no-console
        console.log(this.links)
        // eslint-disable-next-line no-console
        //console.log(this.nodes)

        
    }
}
</script>

<style scoped>

</style>