<template>
    <div id="app">
        <svg :width="settings.width" :height="settings.height" style="{margin-left: 100px;}">
            <transition-group tag="g" name="link">
                <g class="link" v-for="link in links" :key="link.id">
                    <path class="link" :d="link.d"></path>
                </g>
            </transition-group>
            <transition-group tag="g" name="node">
                <g class="node" v-for="node in nodes" :key="node.id" :style="node.style">

                    <!-- Circles for each node -->
                    <circle class="node-circle" @click="nodeClick(node.name)" :r="node.radius"></circle>
                </g>
            </transition-group>
        </svg>
    </div>
</template>

<script>
import * as d3 from "d3"

export default {
    data(){
        return {
            settings: {
                width: 1000,
                height: 500,
                branch: 70,
            },
            treeData: {
                id: 0,
                name: 'Claudine',
                children: [
                    {
                        id: 1,
                        name: 'Zara',
                        children: [
                            {
                                id: 6,
                                name: 'Otene'
                            }
                        ]
                    },
                    {   
                        id: 2,
                        name: 'Cherese'
                    },
                    {
                        id: 3,
                        name: 'Daynah'
                    },
                    {
                        id: 4,
                        name: 'Pititi'
                    },
                    {
                        id: 5,
                        name: 'Damon'
                    }
                ]
            }
        }
    },
    computed: {
        nodes() {
            const root = d3.hierarchy(this.treeData)

            const treeLayout = d3.tree()
                .size([250, 200])
        
            const output = treeLayout(root)
                .descendants()

            // eslint-disable-next-line no-console
            console.log(output)
            return output.map((d, i) => {
                return {
                    id: 'node-' + d.data.id,
                    name: d.data.name,
                    index: i,
                    links: d.links,
                    style: {
                        transform: "translate(" + (d.x + 100) + "px," + (d.y + 100) +"px)"
                        //transform: "translate(" + d.y + "px," + d.x +"px)" //CHANGE ORIENTATION
                    },
                    radius: 20
                }
            })
        },
        links() {
            const root = d3.hierarchy(this.treeData)

            const treeLayout = d3.tree()
                .size([250, 200])
        
            const output = treeLayout(root)
                .links()

            // eslint-disable-next-line no-console
            console.log(output)
            return output.map((d, i) => {
                return {
                    id: 'link-' + d.source.data.id + '-' + d.target.data.id,
                    index: i,
                    x1: d.source.x,
                    x2: d.target.x,
                    y1: d.source.y,
                    y2: d.target.y,
                    //d: 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y
                    // d: 'M ' + d.source.y + ' ' + d.source.x + ' L ' + d.target.y + ' ' + d.target.x CHANGE FROM LEFT-RIGHT TO TOP-BOTTOM
                    d: 'M ' + (d.source.x + 100) + ',' + (d.source.y + 100) + ' v ' + this.settings.branch + ' H ' + (d.target.x + 100) + ' V ' + (d.target.y + 100)
                }
            })
        }
    },
    mounted(){
        // eslint-disable-next-line no-console
        console.log(this.nodes)      
        
        // eslint-disable-next-line no-console
        console.log(this.links) 
    },
    methods: {
        nodeClick(name){
            alert(name)
        }
    }
}
</script>

<style scoped>
    .nodes {
        padding: 100px;
    }
    circle {
        fill:#5F9EA0;
        stroke: black;
    }
    circle:hover {
        cursor: pointer;
        transform: scale(1.5);
    }
    path {
        fill: none;
        stroke: black;
    }
</style>