<template>
    <svg height="50" width="50">
        <circle cx="25" cy="25" r="20" fill="pink" @click="onclick()"/>
    </svg>
</template>

<script>
export default {
    data: function(){
        return {
            
        };
    },
    methods: {
        onclick(){
            alert('Click!');
        }
    }
}
</script>

<style scoped>
    
</style>