<template>
  <div id="app">
    <nav-home v-if="homeSelected"></nav-home>
    <nav-about v-if="aboutSelected"></nav-about>
    <nav-news v-if="newsSelected"></nav-news>
    <nav-contact v-if="contactSelected"></nav-contact>
  </div>
</template>

<script>
//import each component
import Home from './components/Home.vue'
import About from './components/About.vue'
import News from './components/News.vue'
import Contact from './components/Contact.vue'


export default {
  components: {
    'nav-home': Home,
    'nav-about': About,
    'nav-news': News,
    'nav-contact': Contact
  },
  data: function(){
    return {
      homeSelected: true,
      aboutSelected: false,
      newsSelected: false,
      contactSelected: false,
    }
  },
  methods: {
    switch: function(){

    }
  }
}
</script>

<style scoped>

</style>