<!DOCTYPE html>
<html>
    <head>
        <title>
            Practise 1
        </title>
    </head>
    <body>
        <script src="https://npmcdn.com/vue/dist/vue.js"></script>

        <div id="app">
            <h1>Practise 1</h1>
            <p>This is just a very simple webpage to practise vue.</p>

            <hr>

            <h2>
                Your Details
            </h2>
            <label>First Name: </label><input type="text" v-model="firstname" /><br><br>
            <label>Last Name: </label><input type="text" v-model="lastname" /><br><br>
            <label>Age: </label><input type="number" v-model="age"/><br><br>
            
            <hr>

            <h2>
                Details You Entered
            </h2>
            <p>First Name: {{ firstname }} </p>
            <p>Last Name: {{ lastname }} </p>
            <p>Age {{ age }} </p>

            <hr>
            
            <h2>Calculate Your Age</h2>
            <p>Choose a number and press enter:</p>
            <p>In <input value="0" v-on:keydown.enter="calcYears()" type="number"> years time you will be {{ years }} years old </p> 
            <hr>

            

        </div>

        <script src="app.js"></script>
    </body>
</html>
