<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Built In Directives</h1>
                <p v-text="'This is a built-in directive'"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Custom Directives</h1>
                <p v-highlight>Creating a simple directive</p>
                <p v-highlight="'red'">Passing values to custom directives</p>
                <p v-highlight:background="'blue'">Passing arguments to custom directives</p>
                <p v-highlight:background.delayed="'purple'">Modifier with custom directive</p>
                <p v-highlight:background.delayed="'maroon'">Local Directive</p>
                <p v-local-highlight:background.delayed.blink="{mainColor: 'green', secondColor: 'red', delay: 1000}">Multiple Modifiers - Blinking</p>
                <p v-local-highlight:background.delayed.blink="{mainColor: 'lightgrey', secondColor: 'black', delay: 500}">Passing more complex values to directives</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: { //registering directives locally
            'local-highlight': {
                bind(el, binding, vnode) {
                    //el.style.backgroundColor = 'green';
                    //el.style.backgroundColor = binding.value;
                    var delay = 0;
                    if(binding.modifiers['delayed']){
                        delay = 3000;
                    }
                    if(binding.modifiers['blink']){
                        let mainColor = binding.value.mainColor;
                        let secondColor = binding.value.secondColor;
                        let currentColor = mainColor;

                        setTimeout(() => {
                            setInterval(() => {
                                currentColor == secondColor ? currentColor = mainColor : currentColor = secondColor;
                                if(binding.arg == 'background'){
                                    el.style.backgroundColor = currentColor;
                                    el.style.color = 'white';
                                }else{
                                    el.style.color = currentColor;
                                }
                            }, binding.value.delay);
                        }, delay);
                    }else{
                        setTimeout(() => {
                            if(binding.arg == 'background'){
                                el.style.backgroundColor = binding.value.mainColor;
                                el.style.color = 'white';
                            }else{
                                el.style.color = binding.value.mainColor;
                            }
                        }, delay);
                    }

                    
                }
            }
        }
    }
</script>

<style>

</style>
