<template> 
    <div>
        <h3> Counter </h3>
        <hr>
        <p> {{ counter }} </p>
        <hr>
        <button @click="counter++">Increase Counter</button>
        <button @click="counter--"> Decrease Counter</button>
        <hr>
    </div>
</template>

<script>
export default {
    data: function(){
        return {
            counter: 0
        }
    },
    destoyed(){
        console.log('Destroyed()');
    },
    deactivated(){
        console.log('Deactivated()');
    },
    activated(){
        console.log('Activated()');
    }
}
</script>

<style scoped>
    
</style>