<template>
    <div class="container">
        <form>
            <div class="row" v-if="!isSubmitted">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <h1> Sign Up Form </h1>
                    <hr>
                    <!-- Full Name (First Name + Last Name) -->
                    <!--<div class="form-group">
                        <label for="firstname">
                            First Name:
                        </label>
                        <input type="text"
                                id="firstname"
                                class="form-control"
                                v-model="userData.firstname"> 
                    </div>
                    <div class="form-group">
                        <label for="lastname">
                            Last Name:
                        </label>
                        <input type="text"
                                id="lastname"
                                class="form-control"
                                v-model="userData.lastname">
                    </div>-->
                    <!--CUSTOM FULLNAME CONTROL-->
                    <app-full-name v-model="userData.fullName"></app-full-name>
                    <!-- Mail -->
                    <div class="form-group">
                        <label for="email">
                            Email: 
                        </label>               
                        <input type="text"
                                id="email"
                                class="form-control"
                                v-model="userData.email">                    
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">
                            Password:
                        </label>
                        <input type="text"
                                id="password"
                                class="form-control"
                                v-model="userData.password">
                    </div>
                    <!-- Store Data? Yes/No -->
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                            <p>Store Data?</p>
                            <label for="yes">
                                <input type="radio"
                                        id="yes"
                                        value="Yes"
                                        v-model="storeData">
                                Yes 
                            </label>
                            <label for="no">
                                <input type="radio"
                                        id="no"
                                        value="No"
                                        v-model="storeData">
                                No 
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <button class="btn btn-primary"
                                    @click.prevent="pressButton(true)">
                                Submit!
                            </button>
                        </div>
                    </div>

                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->
                    <!--DONE-->

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isSubmitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ userData.fullName }}</p>
                        <p>Mail: {{ userData.email }}</p>
                        <p>Password: {{ userData.password }}</p>
                        <p>Store in Database?: {{ storeData }} </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <button class="btn btn-primary"
                        @click.prevent="pressButton(false)">
                    Reset!
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import FullName from './components/FullName.vue'; //import the FullName component
    export default {
        data: function(){
            return {
                userData: {
                    firstname: '',
                    lastname: '',
                    fullName: '',
                    email: '',
                    password: ''
                },
                storeData: 'No',
                isSubmitted: false,
            };
        },
        methods: {
            pressButton(value){
                this.isSubmitted=value;
            }
        },
        components: {
            'app-full-name': FullName //add it to the components object
        }
    }
</script>
