<!DOCTYPE html>
<html>
    <head>
        
        <title>
            Section 2
        </title>
    </head>
    <body>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <div id="app">
            <h1 v-once> {{ pageTitle }} </h1>
            <p> {{ linkTitle }} - <a v-bind:href="googleLink">Google</a></p>
            <p> {{ setPageTitle() }} </p>
            <p> {{ finishedLink }} - This displays the text and not the finished link, which is good because it can stop html injections</p>
            <button v-on:click="increase">Click Me</button>
            <p> {{ counter }} </p>
            <p v-on:mousemove="updateCoordinates"> 
                Coordinates: {{ x }} / {{ y }} 
            - <span v-on:mousemove="dummy">DEAD SPOT</span>
            </p>
            <input type="text" v-on:keyup.enter="alertMe()"/>

        </div>
        <script src="index.js"></script>
    </body>
</html>