<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <!-- Set up the buttons so when they are click the template selected property is set to the name of the component-->
                <button class="btn btn-primary" @click="templateSelected = 'app-blue'">Load Blue Template</button>
                <button class="btn btn-success" @click="templateSelected = 'app-green'">Load Green Template</button>
                <button class="btn btn-danger" @click="templateSelected = 'app-red'">Load Red Template</button>
                <hr>
                <!--PART 1: pass in content using SLOTS-->
                <!--PART 2: hook up the buttons so that the contents are dynamically displayed depending on which buttons are pressed-->
                
                <!--<app-blue>
                    <h1> Blue </h1>
                    <p> This is a blue component </p>
                </app-blue>
                <app-green>
                    <h1> Green </h1>
                    <p> This is a green component </p>
                </app-green>
                <app-red>
                    <h1> Red </h1>
                    <p> This is a red component </p>
                </app-red>-->
                <component :is="templateSelected">
                    {{ templateSelected }}
                </component>

            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        data: function(){
            return {
                templateSelected: 'app-blue'
            };
        },
        components: {
            'app-blue': Blue,
            'app-green': Green,
            'app-red': Red
        }
    }
</script>

<style>
</style>
