<template>
    <div class="row">
        <div class="col-sm-12"> <!-- div spanning the full width -->
            <h3> Quotes Added </h3>
            <div class="progress"> <!-- Bootstrap progress bar -->
                <div class="progress">
                    <div class="progress-bar" 
                        role="progressbar" 
                        aria-valuenow="60" 
                        aria-valuemin="0" 
                        aria-valuemax="100"
                        :style="{width: (quoteCount/maxQuotes) * 100 + '%'}">
                        <!-- the width of the inner progress-bar controls the progress shown -->
                        {{ quoteCount }} / {{ maxQuotes }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['quoteCount', 'maxQuotes'],
    methods: {

    }
}
</script>