<template>
    <div class="row">
        <form>
            <div class="col-sm-8.col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3"> <!-- Bootstrap classes -->
                <label>Quote</label>
                <textarea class="form-control" rows="3" v-model="quote"></textarea> <!-- Bootstrap class, v-model: 2-way binding --> 
            </div>
            <div class="col-sm-8.col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3"> <!-- Bootstrap classes -->
                <button class="btn btn-primary" @click.prevent="createNew()">Add Quote</button> <!--.prevent stops the button from submitting the form to the server-->
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        data: function(){
            return {
                quote: '' //gets set whenever something is entered in the textarea
            };
        },
        methods: {
            createNew: function(){
                //only add a new quote if it isnt empty
                if(this.quote != ''){
                    //emit the new quote to the parent component
                    this.$emit('quoteAdded', this.quote);
                    this.quote = ''; //reset quote after sending it so the form gets cleared (because it is two-way binded)
                }else{
                    alert('Empty quote! Please enter a quote to add it.');
                }
            }
        }
    }
</script>
<style scoped>

</style>