<template>
    <div class="col-sm-6 col-md-4 col-lg-3"> <!--bootstrap classes-->
        <div class="panel panel-default"> <!--bootstrap classes-->
            <div class="panel-body quote">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['quotes'], //passing quotes from outside (in App.vue)

}
</script>
<style scoped>
    .panel-body {
        font-family: 'Arizonia', cursive;
        font-size: 24px;
        color: #6e6e6e;
    }
    .quote {
        cursor: pointer;
    }
    .quote:hover {
        background-color: #ffe2e2;
    }
</style>