<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <p v-my-local-on:click="myClickEvent()"> My custom directive v-my-local-on:click </p>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            'my-local-on': {
                bind(el, binding, vnode){
                    if(binding.arg == 'click'){
                        
                    }
                }
            }
        },
        methods: {
            myClickEvent: function(){
                var click = new MouseEvent('click', {
                    view: window,
                    bubbled: true,
                    cancelable: true,
                });
            }
        }
    }
</script>

<style>
</style>
