<template>
  <div id="app">
    <h1>Hello World!</h1>
  </div>
</template>

<script>
//can add data, methods and computed properties here
//it behaves like a vue instance
export default {
  
}
</script>

<style>

</style>