<template>
  <div id="app">
    <Node></Node>
  </div>
</template>

<script>
import Node from './components/Node.vue'

export default {
  name: 'app',
  components: {
    Node
  }
}
</script>

<style>

</style>
